.title {
  color: #4caf50;
}

.userContainer {
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  width: 70%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
}

.userList {
  width: 100%;
}

.userItem {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.deleteButton {
  background-color: #28a745;
  color: #fff;
  padding: 0.5rem;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.editButton {
  background-color: #dc3545;
  color: #fff;
  padding: 0.5rem;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 0.5rem;
}
