.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 4rem auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.heading{
  color: #4caf50;
  text-align: center;
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  color: white;
  background-color: #4caf50;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  padding: 10px;
  color: #ffffff;
  background-color: #4caf50;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
}

.error {
  padding: 10px;
  color: #ffffff;
  background-color: #e53935;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
}
